Package: com.bo.SimpleMCChat
Name: SimpleMCChat
Version: 1.0
Architecture: iphoneos-arm
Description: A simple chatting app using Multipeer Connectivity Framework
Maintainer: Manof
Author: Manof
Section: Messages

