Package: com.bo.SimpleMCChat
Name: SimpleMCChat
Version: 1.0
Architecture: iphoneos-arm
Description: A simple chatting app using Multipeer Connectivity Framework
Maintainer: Manof
Author: Manof
Section: Applications
Depends: firmware(>= 7.0)
Depiction: http://obenchekroun.github.io/depictions/index.html?p=com.bo.SimpleMCChat
Icon: file:///Applications/SimpleMCChat.app/AppIcon60x60@2x.png

