Package: com.bo.FBIcon
Name: FBIcon
Depends: winterboard
Version: 1.0
Architecture: iphoneos-arm
Description: A simple purple icon for Facebook app 
Maintainer: Manof
Author: Manof
Section: Themes (Springboard)
