Package: com.bo.CompteEstBon
Name: CompteEstBon
Version: 2.1
Architecture: iphoneos-arm
Description: A simple app to resolve The Total is Right
Maintainer: Manof
Author: Manof
Section: Tweaks
Depends: firmware(>= 7.0)
Depiction: http://obenchekroun.github.io/depictions/index.html?p=com.bo.CompteEstBon

